# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
**/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
**/lightning_logs/*
**/checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
+.vscode/settings.json
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/
.mypy_cache

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
docs/_autosummary/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version


# Data
*.gz
*-ubyte
MNIST/**

docs/README-copy.md

# Me
melodie/
